.speed_container {
    width: 100%;
    padding-bottom: 4em;
    padding-top: 4em;
    margin: 0 auto;
}

#download {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

#upload {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.preview_textfield {
    margin-bottom: -10px;
    width: 300px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #404040;
    font-family: 'Amaranth', sans-serif;
}

.info_textfield {
    width: 300px;
    padding-bottom: 4em;
    text-align: center;
    font-size: 1.0em;
    color: #404040;
    font-family: 'Amaranth', sans-serif;
}

.label_textfield {
    margin-top: -50px;
    width: 300px;
    padding-bottom: 4em;
    text-align: center;
    font-size: 1.2em;
    color: #404040;
    font-weight: bold;
    font-family: 'Amaranth', sans-serif;
}

.speed_btn {
    width: 150px;
    height: 150px;
    margin: 75px;
    margin-bottom: 30px;
    border-radius: 50%;
    font-size: 1.5em;
    background: linear-gradient(135deg, #44ea76 0%, #39fad7 80%, #39fad7 100%);
    /* Green */
    border: none;
    color: white;
}

@media screen and (max-width: 600px) {
    .speed_container {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: wrap;
    }
}