config radio 'radio'
        option enabled '1'
        option platform 'chirpstack'

config mqtt 'mqtt'
        option enabled '0'
        option transport 'tcp'
        option host ''
        option port '1883'
        option client_id ''
        option keepalive '30'
        option username ''
        option password ''
        option auth_mode 'none'
        option uplink_topic 'rs485/uplink'
        option downlink_topic 'rs485/downlink'
        option clean_session '1'
        option qos '0'
        option reconnect_delay '30'
        option retain_status '0'

config serial 'serial'
        option device 'ttyAMA2'
        option baudrate '9600'
        option databit '8'
        option stopbit '1'
        option checkbit 'none'

config log 'ui'
        option auto_refresh '1'
        option buffer_limit '2000'
        list watch_keywords 'join'
        list watch_keywords 'error'
